body{
    background-color: lightgreen;
    font: 17px/25px "Open Sans", Arial, sans-serif;
}

.postcontent{
    padding-top: 20px;
    
}
.user{
    padding-top: 10px;
}
.user img{
    
    border-radius: 100%;
    padding-left: 10px;
    float: left;
}


#logout{
    float: right;
}
.user h3{
    padding-left: 10px;
    margin-bottom: 6px;
    color: #0e6b00;
    display: inline-block;
}
.titolo h1{
    float: left;
   
    
}
.links {
    float: left;
    
}

.postcontent p{
    padding-left: 10px;
}

.postcontent img{
    padding-left:10px;
}
.sidebar li a:hover {
    background-color: #5BB83E;
    color: white;
}
.sidebar li{
    border: 1px solid black;
}
.sidebar h3{
    padding-left: 10px;
    margin-bottom: 7%;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
    width: 200px;
    background-color: palegreen;
    float:left;
    margin-left: 4%;
    border: 1px solid black;
}
.sidebar {
    background-color: #62c462;
    width: 233px;
    display: block;
    float: left;
    padding-bottom: 35%;
    border: 1px solid #0e6b00;
    
}
.sidebar li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
    
}

#log{
    margin-left: 35%
}


h1{
    background-color: lightgreen;
    width: 80%;
    height: 36px;
    padding-left: 10px;
    padding-top: 12px;
    padding-bottom: 5px;
    box-shadow: 0 0 10px #5bb75b;
    border: 1px solid black;
}
.titolo h1{
    width: 220px;
    
}

header {
    display: inline-block;
    width: 100%;
    
}

.links ul li{
        float: left;
}

 .info h2{
    margin-top: 101px;
}

h2{ 
    font-size: 25px;
    padding-left: 10px;
}
    

.links ul{
    
    list-style-type: none;
    margin-right: 0px;
    padding: 0;
    overflow: hidden;
    background-color: rgb(115, 226, 119);
    margin-top: 23px;
    height: 55px;
    box-shadow: 0 0 10px #5bb75b;
}
.links li {
    float: left;
}

 .links li a {
    border: 1px solid black;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;

}

.links li a:hover {
    background-color: #1ccf11;
    border: 1px solid #147800;
}

button{
    height: 50px;
    width: 100%;
    background-color: #1ccf11;
    border: 1px solid #147800;

}

button:hover{
    background-color: #30ff30;
    color: #0e6b00;
}


.space{
    text-align: left;
}


.login h2{
    color: white;
    font-size: 165%;
    background-color: #7aba7b;
    padding-top: 1%;
    padding-bottom: 1%;
    border: 1px solid #0e6b00;
}

.bacheca{
    background-repeat: no-repeat;
    background-position: left top;
    margin-right: 200px;
    background-attachment: fixed;
    
}

.log a{
    border: 1px solid black;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    width: 15%;
    margin-left: 2%;
    background-color: #5bb75b;
}

.log a:hover{
    background-color: #30ff30;
    color: #0e6b00;
}
.linkinterni ul{
    list-style-type: none;
    padding-right: 6%;
    overflow: hidden;
    background-color: rgb(115, 226, 119);
    margin-top: 23px;
    height: 176px;
    box-shadow: 0 0 10px #5bb75b;
    padding-top: 15px;
    
}

.linkinterni li a{
    border: 1px solid black;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    background-color: #1ccf11;
    border: 1px solid #147800;
    

}

.linkinterni li a:hover{
    background-color: #30ff30;
    color: #0e6b00;

    
}


.presentation p {
    background-color: whitesmoke;
    padding: 10px;
}

.descrizione h2{
    color: white;
    font-size: 165%;
    background-color: #7aba7b;
    padding-top: 1%;
    padding-bottom: 1%;
    border: 1px solid #0e6b00;
}

.descrizione h3{
    color: white;
    font-size: 140%;
    background-color: #7aba7b;
    padding-top: 1%;
    padding-bottom: 1%;
    border: 1px solid #0e6b00;
    
}

.form{
    box-shadow: 0 0 10px rgba(0,0,0,.2);
    width: 350px;
    margin-bottom: 5px;
    padding: 10px;
    width: 350px;
    height: auto;
    margin-left: 10%;
    margin-right: auto;
    background-color: lightgreen;
    border: 1px solid springgreen;
    float: left;
}

.form input, textarea {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    box-sizing: border-box;
}

.info h2{
    color: white;
    font-size: 165%;
    background-color: #7aba7b;
    padding-top: 1%;
    padding-bottom: 1%;
    border: 1px solid #0e6b00;
}


.form input:focus{
    border: 2px solid #1ccf11;
    
}

@media only screen and (min-width: 1024px){
   
.allposts{
    display: block;
    margin-left: 245px;
    padding-top: 4px;
    margin-right: 10%;
}

.post{
    background-color: white;
    margin-bottom: 30px;
    padding-bottom: 12px;
    padding-top: 1px;
    margin-top: -4px;
    width: 600px;
    border: 1px dotted greenyellow;
    
}
.sidebar{
    float: left;
    width: 21%;
    padding-left: 5px;
} 

}


@media only screen and (max-width: 480px)
{
    .postcontent{
    margin-bottom: 5px;
    padding: 10px;
    width: auto;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    float:left;
}

.sidebar ul{
    width: 90%;
    height:auto;
    padding-left: 5px;
} 

   
 .post{
    height:auto;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    width:200px;
}


}